.card img {
  height: 200px;
  min-width: 10vw;
  width: auto;
}

.col-sm-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin-bottom: 0!important;
}

.form-control {
  display: inline!important;
  width: auto!important;
  height: auto!important;
}

.alert {
  margin-bottom: 0!important;
}

.btn-lg {
  font-size: 2rem!important;
  padding: 0.5rem 1.5rem!important;
}